@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* body {
    max-width: 1400px;
    background-color: aliceblue;
} */



.main-container {
    /* max-width: 1400px; */
    padding: 0 100px;

    height: 600px;
    /* padding: 120px 0;    */
     margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

/* ----------------------------navigation------------------------- */

.main-content-container{
    padding: 0 100px;
    max-width: 1400px;
    display: flex; 
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.navigation {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
}

.navigation-ul {
    display: flex;
    gap: 40px;

}

ul li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
}

.logo {

    width: 80px;
    height: 30px
}

/* ----------------------------hero section ------------------------- */
header{

}
.header {
    max-width: 1400px;
    margin: auto;
    height: 710px;
    background-color: black;
    background-image: url(./assets/images/hero-img.png);
    background-position: center;
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-heading {
    font-size: 36px;
    color: #ffffff;
    font-family: "Raleway";
}

.logo-hero-sec {
    width: 180px;
    height: 60px
}


.social-media-container {
    margin : auto;
     max-width: 1400px;
    padding: 0px 100px;
    display: flex;
}

.line-item {
    border-top: 3px solid #fff;
    width: 60px;
}

.hero-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 45%;
}

.hero-paragraph {
    opacity: 0.800;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
}

.download-btn {
    width: 130px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";

}

/* ----------------------------freee trial article in hero sec ------------------------- */

.hero-inputs-free-trial {
    border-radius: 5px;
    width: 360px;
    background-color: white;
    text-align: center;
}

.free-trial-h2 {
    padding: 20px;
    background-color: #f5f5f5;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.word-cpecifik-style {
    color: #ff9b51;
}

.inputs-container input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
}

.inputs-container input:nth-last-of-type(1) {

    padding-top: 50px;
    margin-bottom: 50px;
}

.get-started {
    background: orange;
    width: 100%;
    height: 60px;
    background-color: #ff8b38;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ----------------------------hero footer social media ------------------------- */

.hero-section-social-media {
    height: 100px;
    background-color: #fff;
}

.social-media-container {
    height: 100px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-media-desc {
    width: 30%;
}

.soc-media-h5 {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.soc-media-p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.social-media-icons {
    display: flex;
    gap: 60px;
    font-size: 46px;
    opacity: 0.522;
    color: #86878b;
}

/* ----------------------------second section  ------------------------- */

.section-2 {
    margin: auto;
    max-width: 1400px;
    padding: 0px 100px;
    height: 600px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.tabs-container {
    display: flex;
    flex-direction: column;

}

.square-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #f5f5f5 1px solid;
    width: 110px;
    height: 110px;
    background-color: #333333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";

}

.square-tab:hover {
    background-color: #ff8b38;
}

.desc-sec2-widh {
    /* width: 340px; */
    width: 45%;
}

.second-sec-heading {

    font-size: 20px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    padding-bottom: 50px;

}

.second-sec-parag {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.download-second-sec {
    padding: 10px 15px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    background-color: #ff8b38;
    border: none;
}

/* ----------------------------third section  ------------------------- */

.third-sec {
    margin: auto;
    max-width: 1400px;
    padding: 0px 100px;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 180px;
    align-items: center;

}

.img-cont {
    /* boxshadow */
}

.third-sec-desc {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;



}

.title-s3 {
    font-size: 20px;
    line-height: 43px;
    color: #212121;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.devider {
    border-top: 3px solid #ff8b38;
    width: 65px;
}

.sircle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    align-items: center;
}

.fa-cloud-arrow-up,
.fa-cloud-arrow-down {
    padding: 5px;
    margin: auto;
    align-items: center;
    align-self: center;
    color: #ff8b38;
}

.s3-icon {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.third-sec-p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.title-3s {
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    font-weight: 600;
    font-family: "Open Sans";
}

/* ----------------------------fourth section  ------------------------- */

.forth {
    margin: auto;
    max-width: 1400px;
    padding: 0px 100px;
    height: 600px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px
}

.fourth-sec-des {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.s4-title {
    font-size: 20px;
    line-height: 43px;
    color: #212121;
    font-weight: 700;
    font-family: "Open Sans";
}

.s4-p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.flex-start-needed {
    display: flex;
}

/* ----------------------------fifth section  ------------------------- */

.fifth {
    margin: auto;
    max-width: 1400px;
    padding: 0px 100px;    height: 600px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px
}

.fifth-s-h {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}
.fifth-sec-articles{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-top: 30px;

}
.fifth-s-a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
 
}
.sirce-fifth{
   display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
   
}
.icon{
    color:#ff8b38
}
.art-heading{
    font-size: 20px;
line-height: 24px;
color: #333333;
font-weight: 700;
font-family: "Open Sans";
text-align: center;
}

/* ----------------------------sixt section  ------------------------- */